body {
    margin: 0;
    padding: 0;
    background-color: #F0F1E1;
  }
header {
    display: grid;
    background-image: url('../assets/header_bg.svg');
    background-size: cover; 
    background-position: center;
    z-index: 0; 
    min-height: 120vh;
    position: relative; 
    align-items: center;
    top: 0;
    width: 100%;
}

section {
    top: 0;
    height: 60vh;
    width: 100%;
    background-color: #F0F1E1;
    z-index: -1;
}

.background-image {
    position: absolute;
    top: 0; 
    right: 0;
    width: 100%; 
    height: 60vh;
    z-index: 0;
  }

.nav_container{
    width: 95%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.nav_container *{
    z-index: 1;
}

.nav_title h1{
    font-size: 4vw;
    font-family: 'Love Ya Like A Sister';
    color: 457925;
}

.ul_list {
    list-style: none;

}

.ul_list li{
    display: inline-block;
    margin-right: 10px;
}

.ul_list a {
    text-decoration: none;
    color: inherit; 
    font-size: 3vw;
    padding: 0.5vw;
    font-family: 'Love Ya Like A Sister';
    color: white;
  }

.scanBtn {
    background-color: #4B6E3B;
    width: 15vw;
    color: white;
    border: none;
    padding: 1vw;
    font-size: 2vw;
    font-family: 'Love Ya Like A Sister';
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30vh;

}

